<div class="archive-main-card">
    <div class="archive-top">
        <div class="main-title-bar">
            <div class="main-title-dot"></div>
            <h1 class="article-title"><%= __('archive_a') %></h1>
        </div>
    </div>
    <% site.categories.each( function(category){ %>
    <a class="year-line" href="<%- url_for(category.path) %>">
        <div class="dot-wrapper">
            <div class="dot"></div>
        </div>
        <div class="year-num" ><%= category.name %></div>
    </a>
    <% }); %>
</div>
